<div class="container">
    <mat-card>
        <button mat-button (click)="redirectToHomePage()" class="redirect">На галоўную</button>
        <mat-card-title>{{randomQuestion.content}}</mat-card-title>
        <div *ngFor="let answer of randomQuestion.answers">
            <button mat-button (click)="checkAnswer(randomQuestion, answer)" *ngIf="!isAnswered">
                {{answer.content}}
            </button>
            <button mat-button disabled="true" *ngIf="isAnswered"
                [ngClass]="{ 'green': answer.isCorrect, 'red': !answer.isCorrect }">
                {{answer.content}}
            </button>
        </div>
        <button mat-button (click)="nextQuestion()" *ngIf="isAnswered">Наступнае пытанне</button>
    </mat-card>
</div>