.container {
    background-image: url('../../assets/bgHomeTexture.svg');
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-repeat: repeat;
}

.redirect {
    margin-bottom: 20px;
}

mat-card {
    border-radius: 15px;
    height: fit-content;
    margin-top: 40px;
    left: 500px;
    width: 500px;
    padding: 10px;
}

button {
    font-size: 16px;
}

.message {
    height: calc(100vh - 260px);
    overflow-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden; /* Added property */
    padding: 10px;
    border-bottom: 1px solid black;
  }
  
.message-username {
  color: rgb(120, 158, 180);
  font-size: 21px;
  text-align: center;
}

.message-text {
    font-size: 17px;
    padding: 5px;
    margin: 10px 0;
    word-wrap: break-word;
}

.input-form {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
}

.send-message-button {
    margin-left: 10px;
    margin-top: 10px;
}

.send-message {
  color: rgb(120, 158, 180);
}

.his {
    display: flex;
    background-color: rgba(120, 158, 180, 0.51);
    justify-content: end;
    border-radius: 10px;
}

.their {
    justify-content: start;
    display: flex;
    border-radius: 10px;
    background-color: #f1f1f1;
}