.container {
  height: 100%;
  width: 100%;
  background-image: url('../../assets/bgHomeTexture.svg');
}

mat-expansion-panel {
  background-color: rgb(149, 201, 231);
}

button {
  background-color: transparent;
  border: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
}

mat-list-item {
  margin: 0;
  padding: 0;
}

mat-panel-title {
  font-size: 17px;
}

.separated {
  background-color: rgb(149, 201, 231);
  padding: 10px 20px;
  font-size: larger;
  font-weight: 600;
  text-align: left;
}

.user-badge {
  background-color: rgb(149, 201, 231);
  padding: 10px 20px;
  font-size: larger;
  font-weight: 600;
  text-align: center;
}

.logo {
  background-color: rgb(149, 201, 231);
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 100;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.add-button {
  background-color: rgb(149, 201, 231);
  text-align: center;
  border-top: rgba(77, 77, 78, 0.342) 1px solid;
  border-bottom: rgba(77, 77, 78, 0.342) 1px solid;
}

.add-button mat-icon {
  color: rgb(75, 138, 175);
}

.topic-tab {
  display: flex;
  flex-direction: row;
}

.delete-button-icon {
  color: rgb(75, 138, 175);
}

.delete-button {
  width: 50px;
}

.topic {
  font-size: 17px;
}