  mat-expansion-panel{
    background-color: rgb(149, 201, 231);
    
}

button{
  background-color: transparent;
  border: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
}

mat-list-item{
  margin: 0;
  padding: 0;
}

mat-panel-title{
  font-size: larger;
}

.separated{
  background-color: rgb(149, 201, 231);
  padding: 10px 20px;
  font-size: larger;
  font-weight:500;
}

.logo {
  background-color: rgb(149, 201, 231);
  padding: 10px 20px;
  font-size: 25px;
  font-weight:100;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}