<div class="container">
  <button (click)="redirectToHomePage()">
    <mat-card class="logo">
      <mat-icon svgIcon="logo" />Спадарожнік
    </mat-card>
  </button>

  <button (click)="redirectToLoginPage()" *ngIf="!isLoggedIn">
    <mat-card class="separated">
      Увайсці
    </mat-card>
  </button>
  <button (click)="redirectToUserPage()" *ngIf="isLoggedIn">
    <mat-card class="user-badge">
      {{currentUser.username}}
    </mat-card>
  </button>
  <button (click)="redirectToPostPostingPage()" *ngIf="isLoggedIn">
    <mat-card class="separated">
      Даслаць артыкул!
    </mat-card>
  </button>
  <mat-expansion-panel *ngFor="let category of categories">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{category.name}}
      </mat-panel-title>
      <button mat-button (click)="deleteCategory(category)" *ngIf="currentUser?.isAdmin" class="delete-button">
        <mat-icon svgIcon="trash" class="delete-button-icon" />
      </button>
    </mat-expansion-panel-header>

    <mat-list *ngFor="let topic of category.topics; let i = index">
      <mat-list-item>
        <div class="topic-tab">
          <button (click)="redirectToTopicPage(topic.topic_id)" class="topic">
            {{topic.name}}
          </button>
          <button mat-button (click)="deleteTopic(topic)" *ngIf="currentUser?.isAdmin" class="delete-button">
            <mat-icon svgIcon="trash" class="delete-button-icon" />
          </button>
        </div>
      </mat-list-item>

      <button mat-button (click)="addTopic(category)" *ngIf="i === category.topics.length - 1 && currentUser?.isAdmin"
        class="add-button">
        <mat-icon svgIcon="add" />
      </button>
    </mat-list>
    <button mat-button (click)="addTopic(category)" *ngIf="category.topics.length === 0 && currentUser?.isAdmin"
      class="add-button">
      <mat-icon svgIcon="add" />
    </button>
  </mat-expansion-panel>
  <button mat-button (click)="addCategory()" class="add-button" *ngIf="currentUser?.isAdmin">
    <mat-icon svgIcon="add" />
  </button>
  <button (click)="redirectToDictionaryPage()">
    <mat-card class="separated">
      Тлумачальны слоўнік
    </mat-card>
  </button>
  <button (click)="redirectToQuizPage()" *ngIf="isLoggedIn">
    <mat-card class="separated">
      Правер сабе!
    </mat-card>
  </button>
  <button (click)="redirectToCreateQuizPage()" *ngIf="currentUser?.isAdmin">
    <mat-card class="separated">
      Саздаць новае пытанне!
    </mat-card>
  </button>
  <button (click)="redirectToChatPage()">
    <mat-card class="separated">
      Live Чат
    </mat-card>
  </button>
  <button (click)="logout()" *ngIf="isLoggedIn">
    <mat-card class="separated">
      Выйсці
    </mat-card>
  </button>
</div>