<div>
  <button (click)="redirectToHomePage()">
    <mat-card class="logo">
          <mat-icon svgIcon="logo"/>Спадарожнік
    </mat-card>
  </button>

  <button (click)="redirectToUserPage()">
    <mat-card class="logo">
    </mat-card>
  </button>
  <mat-expansion-panel hideToggle *ngFor="let category of categories">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{category.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-list *ngFor="let topic of category.topics">
        <button (click)="redirectToTopicPage(topic.topic_id)">
          <mat-list-item>
            {{topic.name}}
          </mat-list-item>
        </button>
        
       </mat-list>
  </mat-expansion-panel>
  <button (click)="redirectToDictionaryPage()">
    <mat-card class="separated">
      Тлумачальны слоўнік
    </mat-card>
  </button>
  <button (click)="redirectToQuizPage()">
    <mat-card class="separated">
      Правер сабе!
    </mat-card>
  </button>
  <button (click)="logout()" *ngIf="isLoggedIn">
    <mat-card class="separated">
      Выйсці
    </mat-card>
  </button>
</div>
