.selected {
font-weight: bold;
}

ul {
list-style-type: none;
padding: 0;
margin: 0;
font-size: large;
}

li {
padding-left: 1em;
text-indent: -1em;
}

.topic-list {
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
}

.topic-list-open {
max-height: 1000px;
transition: max-height 1s ease-in;
}