<app-no-content-page *ngIf="posts.length == 0"></app-no-content-page>
<mat-card *ngFor="let post of posts">
    <mat-card-header>
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>
        з топіка <a href="topic/{{post.topic.topic_id}}">{{post.topic.name}}</a>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{post.content}}
      </p>
    </mat-card-content>
    <mat-card-footer>
        <div>
            Напісана карыстальнікам <a href="user/{{post.user.user_id}}">{{post.user.username}}</a>
        </div>
        <div>
            {{post.date_created}}
        </div>
    </mat-card-footer>
    <mat-card-actions>
        <button mat-button (click)="likePost(post.post_id)">
            <mat-icon svgIcon="thumbs-up"/>{{post.likes.length}}
        </button>
        <button mat-button (click)="redirectToPostPage(post.post_id)">
            <mat-icon svgIcon="comment"/>{{post.comments.length}}
        </button>
        <button mat-button (click)="dislikePost(post.post_id)">
            <mat-icon svgIcon="thumbs-down"/>{{post.dislikes.length}}
        </button>
    </mat-card-actions>
</mat-card>